#main-container{
  margin-top: 64px;
  height: 500px;
  width: 700px;
  border: 2px solid #25A69A;
  border-radius: 5px;
  padding: 32px;
}
#main-container .btn {
  height: 44px;
}
.mb-0 {
  margin-bottom: 0;
}
.label-style {
  font-size: 16px;
  padding-bottom: 8px;
}
.flex-prop {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#result {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px solid #25A69A;
}